@{

}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>HRIS | @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="@Url.Content("~/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />

    @*<link href="@Url.Content("~/assets/kendo/web/kendo.common-bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/kendo/web/kendo.bootstrap.min.css")" rel="stylesheet" />*@

    <link href="@Url.Content("~/assets/kendo/web/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/kendo/web/kendo.default.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/sweetalert/sweetalert.css")" rel="stylesheet" />
    
    @Html.IncludeVersionedCss("~/assets/css/common.min.css")
    @Html.IncludeVersionedCss("~/assets/css/admin.min.css")
    @*@Html.IncludeVersionedCss("~/assets/css/boostrap-style.css")*@

    @RenderSection("css_plugins", false)

    <script src="@Url.Content("~/assets/kendo/js/jquery.min.js")"></script>

    <script src="@Url.Content("~/assets/kendo/js/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/assets/kendo/js/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/assets/kendo/js/kendo.timezones.min.js")"></script>

    <script src="@Url.Content("~/assets/sweetalert/sweetalert.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.min.js")"></script>
    <script src="@Url.Content("~/assets/kendo/js/cultures/kendo.culture.en-PH.min.js")"></script>
    @Html.IncludeVersionedJs("~/Scripts/hris.js")
    @RenderSection("script_plugins", false)
    @RenderSection("header", false)
</head>
<body>
    @RenderBody()
    @RenderSection("bottom", false)
    <script type="text/javascript">
        $(function () {
            HRIS.init();
        })
    </script>
</body>
<!-- END BODY -->
</html>